:root {
    @keyframes shadow-transition {
        0% {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
        50% {
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        }
        100% {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        }
      }
}