
.featured-products-img-wrap {
    width:150px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-products-img {
    max-width: 150px;
    max-height: 150px;
}

.featured-products-card {
    border:1px solid #d6d6d6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding:5px;
}
.featured-products-card:hover {
    box-shadow: 5px 5px 5px var(--highlight-color);
}



.featured-products-gallery {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:10px;
}

@media (max-width:750px) {
    .featured-products-gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:750px) and (max-width:1200px) {
    .featured-products-gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.price-discount {
    color:var(--highlight-color);
    font-size:1.2rem;
}
.price-original {
    color:var(--original-price-color);
    text-decoration: line-through;
}

.price-current {
    color:var(--original-price-color);
}

.featured-products-title {
    color:var(--sub-color-highlight);
    margin:10px 0;
    text-align: center;
}

@media (max-width:750px) {
    .featured-products {
        margin:10px;
    }
    
}
.featured-products {
    margin-bottom:20px;
}

.price-discount:after {
    content:' was ';
    color:var(--original-price-color);
    font-size:0.6rem;
}