header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

@media (max-width:600px) {
  header {
    flex-direction: column;
  }
}



  .searchbar {
    display: flex;
    align-items: center;
  }

  .searchbar-input {
    border-radius: 20px;
    border: 1px solid black;
    padding:5px 10px;
    margin:5px;
  }
  
  .searchbar-icon {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width:30px;
    height:30px;
    cursor: pointer;
  }
  .searchbar-icon_inside {
    color: white;
  }
  
  .logo {
    width: 50%;
    height: auto;
    max-width:550px;
  }

  .header-wrapper {
    width:80%;
    margin:auto;
  }