.headernav {
    background-color: var(--main-color);
    height:60px;
    border-radius: 40px 0 0 40px;
    width: 100%;
}

.headernav-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    height:100%;
    width:100%;
    padding-inline-start: 0px;
    padding:0 10px;
}


.headernav-li {
    display: flex;
    align-items: center;
    padding: 0px 1rem;
    color:white;
    cursor: pointer;
    height:60%;
    border-radius: 20px 0 0 20px;
}

.headernav-li:hover {
    background-color: var(--sub-color);
}



@media (min-width:750px) {
    .heardernav-li_arrow {
        display: none;
    }

}


@media (max-width:750px) {
.headernav {
    border-radius:0px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}

.headernav-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap:10px;
}

.headernav-li {
    height:40px;
    border: 1px solid var(--sub-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.heardernav-li_arrow {
    color:white;
}

}
