header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

@media (max-width:600px) {
  header {
    flex-direction: column;
  }
}



  .searchbar {
    display: flex;
    align-items: center;
  }

  .searchbar-input {
    border-radius: 20px;
    border: 1px solid black;
    padding:5px 10px;
    margin:5px;
  }
  
  .searchbar-icon {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width:30px;
    height:30px;
    cursor: pointer;
    border:0px;
  }

.searchbar-icon:hover {
  background-color: var(--sub-color);
}

 .searchbar-icon__magnifier {
  width:15px;
  height:15px;
 }
  
  .logo {
    width: 70%;
    height: auto;
    max-width:550px;
  }

  @media (max-width:750px) {
    .logo__link {
    display: flex;
    justify-content: center;
  }
  }
  

  .header-wrapper {
    width:80%;
    margin:auto;
  }

  @media (max-width:750px) {
    .header-wrapper {
      width:100%;
    }
  }