@import url("header.css");
@import url("normalize.css");
@import url("variables.css");
@import url("header-nav.css");
@import url("site-nav.css");
@import url("banner.css");
@import url("featured-products.css");
@import url("partnership.css");
@import url("footer.css");
@import url("product.css");
@import url("category.css");
@import url("form.css");

main {
    width: 80%;
    max-width:1200px;
    margin:auto;
}

@media (max-width:750px) {
    main {
        width:100%;
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    width:100%;
}

a {
    color: white;
    text-decoration: none;
}

.section-heading {
    background-color: var(--highlight-color);
    color:white;
    padding:10px 20px;
    font-weight: 200;
    font-size: 1rem;
    border-radius: 20px 0 0 20px;
}
@media (max-width:750px) {
    .section-heading {
        margin-left:10px;
    }
}