.product__link {
    color:black;
}

.product {
    display: flex;
    flex-direction: row;
    gap:2rem;
    margin:20px;
}

@media (max-width:750px) {
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product__img {
        width: 400px;
        height: 400px;
    }
}

.product__img img {
    display: block;
}

.product__img {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid grey;
    border-radius:20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    min-width:400px;
}

.product__img:hover {
    animation: shadow-transition 0.3s ease-in-out forwards;
}

@keyframes shadow-transition {
    0% {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    50% {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
  }

.price__nodiscount {
    font-size: 25px;
    font-weight: 600;
}

.price__sale {
    font-size: 30px;
    font-weight: 600;
    color:brown;
}
.price__original {
    text-decoration: line-through;
    color:grey;
}

.product__details {
    gap:20px;
    display: flex;
    flex-direction: column;
}